/* -------------- KEYFRAMES CODE -------------- */
@keyframes typewriter {
    to {
      left: 100%;
    }
} 
@keyframes blink {
    to {
      background: transparent;
    }
}
@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
} 
@keyframes fadeIn {
    to {
      opacity: 1;
    }
} 